#DATABASE CREDENTIALS
DB_HOST=localhost
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name

#ENVIRONNEMENT CONFIGURATION
PORT=4000
NODE_ENV=production
CLIENT_URL=http://localhost:3000
ADMIN_URL=http://localhost:3002

# GROQ API CREDENTIALS
GROQ_API_KEY=your-groq-api-key

#JWT CREDENTIALS
JWT_ACCESS_SECRET=your-access-secret
JWT_REFRESH_SECRET=your-refresh-secret

#EMAIL CREDENTIALS
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_smtp_password