#DATABASE CREDENTIALS
DB_HOST=localhost
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name

#ENVIRONNEMENT CONFIGURATION
PORT=4000
NODE_ENV=production
FRONTEND_URL=http://localhost:3002

# GROQ API CREDENTIALS
GROQ_API_KEY=your-groq-api-key

#JWT CREDENTIALS
JWT_ACCESS_SECRET=your-access-secret
JWT_REFRESH_SECRET=your-refresh-secret

#EMAIL CREDENTIALS
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_smtp_password

#WhatsApp API (Twilio)
TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886

#Modalités de paiement (affichées dans WhatsApp)
PAYMENT_AMOUNT=5000
PAYMENT_TMONEY="+228 90 12 34 56"
PAYMENT_FLOOZ="+228 90 12 34 56"
PAYMENT_WAVE="+228 90 12 34 56"
