#DATABASE CREDENTIALS
DB_HOST=localhost
DB_USER=example_user
DB_PASSWORD=example_password
DB_NAME=example_db

#ENVIRONNEMENT CONFIGURATION
PORT=3800
CLIENT_URL=http://localhost:3000
ADMIN_URL=http://localhost:3002

# GROQ API CREDENTIALS
GROQ_API_KEY=your-groq-api-key

#JWT CREDENTIALS
JWT_ACCESS_SECRET=your-access-secret
JWT_REFRESH_SECRET=your-refresh-secret

#MISTRAL API CREDENTIALS
MISTRAL_API_KEY=your-mistral-api-key

#EMAIL CREDENTIALS
GMAIL_USER=your_email@gmail.com
GMAIL_APPLICATION_PASSWORD="your gmail app password"